@import "tailwindcss";


:root {
  --primary: #FF8B8F;
  --primary-light: #FFB4B7;
  --primary-dark: #D96A6E;

  --background: #0F0F0F;
  --background-light: #1A1A1A;
  --surface: #232323;
  --surface-light: #2F2F2F;

  --text: #FFFFFF;
  --text-muted: #C5C5C5;
  --text-inverse: #0F0F0F;

  --border: #3A3A3A;
  --shadow: 0 4px 14px rgba(0, 0, 0, 0.45);

  --success: #60D394;
  --warning: #F2A65A;
  --error: #FF6B6B;

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 18px;

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 40px;
}

/* Background global */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  margin: 0;
}
