name: Generate and Deploy Documentation

on:
  push:
    branches:
      - main 

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Build Docker Doc Stage
        run: |
          # Construction de l'image jusqu'à l'étape de doc
          docker build --target doc-stage -t doc-generator .
          # Extraction des fichiers comme vous l'avez fait en local
          docker create --name extract doc-generator
          docker cp extract:/app/docs/out ./public
          docker rm extract

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public